{
    "presets": [
      [
        "@babel/preset-react",
        {
          "runtime": "automatic" // Habilita JSX automático
        }
      ],
      "@babel/preset-env",
      "@babel/preset-typescript"
    ]
  }
  